<a href="https://colab.research.google.com/github/nadasul/MASAR_Bootcamp/blob/main/Danah_Almuhaysin___Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Type

نعم، في بايثون هناك العديد من أنواع البيانات المدمجة المهمة التي يمكن استخدامها لتمثيل المعلومات. إليك بعض الأنواع الأساسية:

1. **int (الأعداد الصحيحة):** تُستخدم لتمثيل الأعداد الصحيحة، مثل 1 و -5 و 100.

    ```python
    x = 5
    ```

2. **float (الأعداد العائمة):** تُستخدم لتمثيل الأعداد العائمة (الكسور أو الأعداد العشرية).

    ```python
    y = 3.14
    ```

3. **str (النصوص):** تُستخدم لتمثيل النصوص، ويمكن تحديدها بين علامتي اقتباس (فردية أو مزدوجة).

    ```python
    name = "John"
    ```

4. **bool (القيم االمنطقية):** تُستخدم لتمثيل القيم المنطقية (True أو False).
True تساوي 1 و القيمة False تساوي 0.

    ```python
    is_student = True
    ```

5. **list (القوائم):** تُستخدم لتخزين مجموعة من القيم، ويمكن أن تحتوي على أنواع مختلفة.

    ```python
    numbers = [1, 2, 3, 4, 5]
    ```

6. **tuple (التراص):** شبيهة بالقوائم ولكنها لا يمكن تعديلها بعد إنشائها.

    ```python
    coordinates = (10, 20)
    ```

7. **dict (القواميس):** تُستخدم لتخزين البيانات في صورة أزواج "مفتاح-قيمة".
```python
    person = {"name": "Alice", "age": 25, "city": "New York"}
    ```

In [ ]:
# type() function is used to determine the type of data type.
a = 5
print(type(a))

<class 'int'>

In [ ]:
b = 3.41
print(type(b))

<class 'float'>

In [ ]:
print(type(False))

<class 'bool'>

In [ ]:
print(type(True))

<class 'bool'>

In [ ]:
A = []                                 # هنا قمنا بتعريف مصفوفة فارغة
B = [10, 20, 30, 40, 50]               # هنا قمنا بتعريف مصفوفة تحتوي على أعداد صحيحة فقط
C = ['Mhamad', 'Samer', 'Abdullah']    # هنا قمنا بتعريف مصفوفة تحتوي على نصوص فقط
D = [1, 'two', 'three', 4]

In [ ]:
A = ()                                 # هنا قمنا بتعريف مصفوفة فارغة
B = (10, 20, 30, 40, 50)               # هنا قمنا بتعريف مصفوفة تحتوي على أعداد صحيحة فقط
C = ('Mhamad', 'Samer', 'Abdullah')    # هنا قمنا بتعريف مصفوفة تحتوي على نصوص فقط
D = (1, 'two', 'three', 4)             # هنا قمنا بتعريف مصفوفة تحتوي على أعداد صحيحة و نصوص

In [ ]:
# يتألف من 5 عناصر dictionary هنا قمنا بتعريف
dictionary = {
    1: 'One',
    2: 'Tow',
    3: 'Three',
    4: 'Four',
    5: 'Five'
}

dictionary = {1:'One', 2: 'Tow', 3: 'Three',4: 'Four',5: 'Five'}
# هنا قمنا بعرض قيمة العنصر الذي يحمل المفتاح رقم 3
print(dictionary[3])
print(dictionary[2])

Three
Tow

In [ ]:
#معسكر_مسار
name = 'Da'
message = '''This string that will span across multiple lines. No need to use newline characters for the next lines.
The end of lines within this string is counted as a newline when printed.'''
# هنا قمنا بعرض قيم المتغيرات النصية بأسلوب مرتب
print('Name: '+ name)
print('Message: ', message)

Name: Da
Message:  This string that will span across multiple lines. No need to use newline characters for the next lines.
The end of lines within this string is counted as a newline when printed.

#if Statment

في لغة البرمجة بايثون، تُستخدم الجمل الشرطية لتنفيذ قطعة معينة من الكود إذا تحققت شرط معين. هناك نوعان رئيسيان من الجمل الشرطية في بايثون:

جملة if وجملة else.

الجملة `if`:

```
age = 55

if age >= 18:

print("أنت بالغ.")
```


الجملة `else`:
تُستخدم لتحديد كتلة من الكود التي يجب تنفيذها إذا لم يكن الشرط الاول المحدد صحيحا


. صيغة الجملة `else`

تأتي بعد الجملة `if`
وتكون كالتالي:


```
age = 15

if
age > 18:
    print("أنت بالغ.")
else:
    print("أنت قاصر.")
```

يمكن أيضًا استخدام جمل
`elif`

elif (اختصار لـ else if) لفحص شروط إضافية في حالة عدم تحقق الشرط الأولي.

```
```

In [ ]:
age = 17

if age >= 18:
  print("أنت بالغ.")

In [ ]:
age = 18

if age > 18:
    print("أنت بالغ.")
else:
    print("أنت قاصر.")

أنت قاصر.

In [ ]:

number = 0

if number > 0 :
    print('Positive number')
elif number < 0 :
    print('Negative number')
else:
    print('Zero')

Zero

In [ ]:
check = True
# True تساوي check سيتم تنفيذ أمر الطباعة الموضوع هنا إذا كانت قيمة المتغير
if check == True:
    print('check = True')
# False أي إذا كانت تساوي True تساوي check سيتم تنفيذ أمر الطباعة الموضوع هنا إذا لم تكن قيمة المتغير
else:
    print('check = False')

check = True

#العوامل التي تستخدم في وضع شروط منطقية (Logical Operators)

`if شرط_أول or شرط_ثاني:`

الكود الذي سيُنفذ إذا كان أي من الشروط صحيحًا


`if شرط_أول and شرط_ثاني:`

الكود الذي سيُنفذ إذا كانت جميع الشروط صحيحة

In [ ]:
a = 10
b = 20

# تساوي 20 سيتم تنفيذ أمر الطباعة b تساوي 10, و قيمة المتغير a الشرط التالي يعني أنه إذا كانت قيمة المتغير
if a == 10 and b == 50:
    print('The first and the second conditions return True')

In [ ]:
x = 5

print(x > 3 and x < 10)

True

In [ ]:
x = 5

print(x > 3 or x < 4)

True

In [ ]:
print(not True)

False

In [ ]:
x = 5

print(not(x > 3 and x < 10))

False

In [ ]:

# Example : Using the not operator
x = False
y = False
# The expression not x is True if x is False, and vice versa
if not x:
    print("x is False")
else:
    print("x is True")

x is False