<a href="https://colab.research.google.com/github/nadasul/MASAR_Bootcamp/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
nums = [229, 792, 857, 579, 974, 346, 649, 454, 698, 347, 236, 297, 150, 698, 294, 663, 556, 712, 271, 283, 705, 347, 725, 716, 486, 642, 644, 728, 409, 208, 421, 799, 52, 796, 441, 374, 60, 948, 143, 698, 934, 561, 917, 678, 666, 476, 23, 743, 836, 655, 971, 372, 215, 567, 462, 127, 208, 683, 618, 96, 329, 92, 934, 992, 120, 944, 605, 78, 87, 216, 62, 919, 462, 597, 671, 493, 540, 451, 885, 375, 606, 90, 607, 443, 240, 708, 674, 111, 165, 858, 799, 39, 383, 602, 695, 689, 726, 344, 2, 335]

for num in nums:
    if num > 52:
        print(num)

229
792
857
579
974
346
649
454
698
347
236
297
150
698
294
663
556
712
271
283
705
347
725
716
486
642
644
728
409
208
421
799
796
441
374
60
948
143
698
934
561
917
678
666
476
743
836
655
971
372
215
567
462
127
208
683
618
96
329
92
934
992
120
944
605
78
87
216
62
919
462
597
671
493
540
451
885
375
606
90
607
443
240
708
674
111
165
858
799
383
602
695
689
726
344
335

In [40]:
nums = [229, 792, 857, 579, 974, 346, 649, 454, 698, 347, 236, 297, 150, 698, 294, 663, 556, 712, 271, 283, 705, 347, 725, 716, 486, 642, 644, 728, 409, 208, 421, 799, 52, 796, 441, 374, 60, 948, 143, 698, 934, 561, 917, 678, 666, 476, 23, 743, 836, 655, 971, 372, 215, 567, 462, 127, 208, 683, 618, 96, 329, 92, 934, 992, 120, 944, 605, 78, 87, 216, 62, 919, 462, 597, 671, 493, 540, 451, 885, 375, 606, 90, 607, 443, 240, 708, 674, 111, 165, 858, 799, 39, 383, 602, 695, 689, 726, 344, 2, 335]

for num in nums:
    if num % 2 == 0:
     else
      if num > 52:

        print(num)

SyntaxError: invalid syntax (<ipython-input-40-50a401a840ab>, line 5)